<div class="container">
  <div class="row">
    <div class="cards">
      <% @cocktails.each do |cocktail| %>
          <div class="col-xs-12 col-sm-4">
          <%= link_to cocktail_path(cocktail) do %>
            <div class="card" style="background-image: url(<%= cocktail.url %>);">
              <div class="card-name"> <%= cocktail.name%></div>
              <div class="card-description">
                <% cocktail.doses.each do |dose| %>
                  <%= dose.description %> of <%= dose.ingredient.name %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>



